# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
output/
data/
*.log

# MacOS
.DS_Store

# Excel temporary files
~$*.xlsx
~$*.xlsx
# Word temporary files
~$*.doc
~$*.docx
~$*.txt